.announcment-bar{
    background-color: #1498FF;
    color: white;
}
body{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

nav{
 box-shadow: 6px 6px 6px rgba(1, 1, 1, 0.30);
 position: sticky;
top: 0;
margin: auto;
background-color :hsla(206, 100%, 54%, 0.635);
padding:10px ;
}
.navigation{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    /* padding: 5px; */
}
.back-image{
    background-position: center;
    font-size: cover;
    background-image: no repeat;
    /* height: 1000%; */
    /* width: 100%; */
}
button{
    
    background-color: red;
    color: white;
    outline: none;
    width: 100px;
    height: 35px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin-inline: 8px;
}






 
