*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:"Poppins",sans-serif;
    
}
body,html{
    background: lavender;
    

}
.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 255, 0.55);
    padding: 15px 200px;
    box-shadow: 0.4px 10px rgb(0,0,0,0.1);
    



}
.nav,
.nav .nav-links{
    display:flex ;
    align-items: center;


}
.nav{
    justify-content: space-between;
}
.a {
    color: white;
    text-decoration: none;
}

.nav .nav-links{
    column-gap: 20px;
    list-style: none;
    color: #fff;

}
 .search-icon{
    
    cursor: pointer;
    font-size: 20px;

}
.nav .search-box{
    position: absolute;
    height: 45px;
    width: 100%;
    max-width: 555px;
    right:350px ;
    

}

.search-box .icon{
    position: absolute;
    left: 15px;
    top: 50%;
    left: 505px;
    transform: translateY(-50%);
}
.search-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 6px;

}
.button{
    display: flex;
    justify-content: end;
    text-align: end;
    align-items: end;
    /* height: 40px; */
    width: 23px;
    font-size: 17px;
    gap: 5px;


}
.button .login{
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
    color: black;
}

.button .register{
    background-color: red;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    
}