.announcment-bar{
    background-color: #1498FF;
    color: white;
}

nav{
 box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.25);
 position: sticky;
top: 0;
margin: auto;
background-color :hsla(206, 100%, 54%, 0.635);
padding:10px ;
}
.navigation{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.images{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    /* padding: 5px; */
}




 
